@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root {
  --primary: #176ede;
  --bg-primary: #fff;
  --bg-secondary: #EDF2F8;
  --bg-terinary: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: "Gordita", sans-serif !important; */
  /* font-family: "Poppins", sans-serif !important; */
  font-family: Product Sans Regular, sans-serif !important;
}

body {
  background-color: var(--bg-secondary);
  /* font-family: "Gordita", sans-serif !important; */
}

thead tr th{
  font-family: "Poppins", sans-serif !important;
}

/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #d4d9e2;
}

.app__navbar {
  background-color: rgba(255, 255, 255, 0.25) !important;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.MuiChip-label, .MuiStepLabel-label{
  font-family: "Poppins", sans-serif !important;
}

.MuiStepLabel-label{
  letter-spacing: 0 !important;
}
