@font-face {
    font-family: "Product Sans Regular";
    src: url(./fonts/Product-Sans-Regular.ttf);
}

.ck.ck-content.ck-read-only {
  background-color: #f5f5f5 !important;
  cursor: not-allowed;
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
  border-color: #dddddd !important;
}

.ck .ck-placeholder:before {
  white-space: pre-line;
  color: #c0c3c7 !important;
}

.ckeditor .ck-editor__editable_inline {
  min-height: 80px;
}

.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}
.ck.ck-content ul {
  padding-left: 30px;
}

.ck.ck-content ol,
.ck.ck-content ol li {
  list-style-type: decimal;
}
.ck.ck-content ol {
  padding-left: 25px;
}
.ck-editor__editable_inline {
  padding: 0 15px !important;
}